Simulink/*.c
Simulink/*.mexw64
Simulink/*.tlc
Simulink/*.cpp
Simulink/*.asv
Simulink/*.mldatx
Simulink/*.mat
Simulink/*.pdb
Simulink/utils/*.mat
Simulink/utils/*.asv
TwinCAT/LUPA/_Boot
TwinCAT/Homing/_Boot
TwinCAT/Homing/.vs
TwinCAT/Homing/*.bak

Homing/*.cpp
Homing/*.mat
