Simulink/*.c
Simulink/*.mexw64
Simulink/*.tlc
Simulink/*.cpp
Simulink/*.asv
Simulink/*.mldatx
Simulink/*.mat
Simulink/utils/*.mat
Simulink/utils/*.asv
TwinCAT/LUPAandMiniDAQ/_Boot
TwinCAT/LUPAandMiniDAQ/_Config
